@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

::-webkit-scrollbar {
    width: 3px !important;
}

::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ebeded !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ebeded !important;
  }



  /* General styles */

.form-select {
  text-transform: capitalize !important;

  .item {
    text-transform: capitalize !important;
  }
}
